<?xml version="1.0" ?>
<model>
    <name>ductedfan4_hitl</name>
    <version>1.0</version>
    <sdf version="1.5">ductedfan4_hitl.sdf</sdf>
    <author>
        <name>mengchaoheng</name>
        <email>chaohengmeng@163.com</email>
    </author>
    <description>Ducted-fan 4 model configured for serial PX4 HITL.</description>
</model>
