<?xml version="1.0"?>
<model>
  <name>tilt_multirotor</name>
  <version>1.0</version>
  <sdf version='1.6'>tilt_multirotor.sdf</sdf>

  <author>
   <name>mengchaoheg</name>
   <email>chaohengmeng@613.com</email>
  </author>

  <description>
    This is a model of the tilt_multirotor.
  </description>
</model>
